*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #ffffffe3;
}
body{
  font-family: 'Poppins', sans-serif;
  /* position: relative; */
}
nav{
  width: 100% !important;
  background-color: #fff;
  position: fixed;
  top:0;
  z-index: 9999999999;
  box-shadow: 0px 0px 0px 0px #00000003;
}
header{
  top:10%;
  padding: 10px 0;
  width: 100%;
  height: 80vh;
}
.container{
  width: 70% !important;
  margin: 0 auto;
  height: 100%;
  padding: 20px 0;
  clip-path: circle(50% at 50% 100%);
  background-color: #2a53c3;
}
.bg-img-color{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  bottom: 10%;
  background-color: #2a53c3;
  clip-path: circle(50% at 50% 100%);
  z-index: -1;
}
.bg-img{
  width: 50%;
  height: 80%;
  background: url('./myimage-removebg-preview.png');
  background-size: cover;
  background-position: center;
  /* background-color: ; */
  z-index: 200;
}

ul li:first-child{
  color:#3c61c8;
}
.hero_content{
  width: 22% !important;
  left:220px;
  top:250px;
  padding: 24px;
  background-color: #00000079;
  border-radius: 5px;
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 100%, .5);
  z-index: 1;
}
.btn{
     width:40%;
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: .5px;
    transition: all .3s;
    border-radius: 6px;
    background-color: #2a52c3 !important;
    border: 1px solid #2a52c3 !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgba(42, 82, 195, .1);
}
.name{
  position: absolute;
  width: 27% !important;
  top:240px;
  right:3px;
}
.gupta-animation {
  animation: guptaFade 2s infinite alternate;
}

.developer-animation {
  animation: developerFade 2s infinite alternate;
}

@keyframes guptaFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes developerFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about_me{
  width:100% !important;
  /* top:100%; */
  margin: 70px 0px !important;
  background-color: #fff;
  padding: 10px;
}
.about_me .about_image{
  width:28%;
  height: 80vh;
  background: url('./web-programming-languages.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 180px;
  padding:0px 20px;
  border: 1px solid green;
  /* clip-path: ellipse(25% 49% at 50% 50%); */
}
.about_myself{
  width:40%;
}
.services{
  width:90%;
  margin: 50px auto;
}
.services .about_serv{
  width:40%;
  text-align: center;
  margin: 0 auto;
}
.cards{
  width:calc(100%/4);
  box-shadow: 0 0 3px rgba(60, 72, 88, .15) !important;
}
.cards .logo_img{
  width:100%;
}